/* Estilo geral */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


body {
    font-family: 'Silkscreen', sans-serif;
    font-weight: 300;
    font-style: normal;
    background-image: url(/imagens/back.jpg) black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 20px;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2rem;
    font-weight: 300;
}

/* Estilos do container do quiz */
.quiz-container {
    color: #ffffff;
    background-color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin: 20px 0;
    border-radius: 15px;
    border: solid 1px rgb(45, 241, 255);
}

.pergunta {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
}

.opcoes {
    margin-bottom: 20px;
}

.opcao {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.opcao input[type="radio"] {
    margin-right: 10px;
}

.opcao label {
    font-size: 1rem;
    color: #ffffff;
}

/* Botão de verificar respostas */
#verificar-respostas {
    background-color: #f81da4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#verificar-respostas:hover {
    background-color: #7c0231;
}

#resultado {
    font-size: 1.2rem;
    color: #01fd38;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    .quiz-container {
        padding: 15px;
    }

    .pergunta {
        font-size: 1.25rem;
    }

    #verificar-respostas {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    #resultado {
        font-size: 1rem;
    }
}
